{{ partial "default_head.html" . }}

<div class="post">
  <h1 class="post-title">{{ .Title }}</h1>
  <span class="post-date">
    {{ if eq .Type "post" }}
      {{ .Site.Params.DateForm | default "Jan 2, 2006" | .Date.Format }} 
      / {{.WordCount}} ord 
      / {{ range .Params.kategorier }}{{ . }} {{ end }}
    {{ end }}
  </span>

  {{ .Content }}

  <span class="post-meta">
    {{ if eq .Type "post" }}
      skrivetid: {{ $.Param "firstversion.time" }}min, ekskludert redigering 
      <br>vis: {{- if $.Param "firstversion.link" -}}
        <a href="{{ $.Param "firstversion.link" }}"> første versjon</a> / 
      {{ end -}}
      <a href={{.Site.Params.Github.PostUrl}}{{.File.LogicalName}}> alle versjoner </a>
      <br>tagget: {{ range .Params.tags }} <a href= "{{ $.Site.BaseURL }}/tags/{{ . | urlize }}">#{{ . }}</a>{{ end }}
    {{ end }}
  </span>
  
  <!-- {{- if .Site.DisqusShortname -}}
  <hr>
  <h2>Kommentarer</h2>
  {{ template "_internal/disqus.html" . }}
  {{ end -}}
  -->

  <hr>
  <h2>Kommentarer</h2>
  {{ partial "staticman.html" . }}
</div>

{{ partial "default_foot.html" . }}
