{{ partial "default_head.html" . }}

<div class="post">
  <h1 class="post-title">{{ .Title }}</h1>
  <span class="post-date">
    {{ if eq .Type "post" }}
      {{ .Site.Params.DateForm | default "Jan 2, 2006" | .Date.Format }} 
      / {{.WordCount}} ord 
      / <a href={{.Site.Params.Github.PostUrl}}{{.File.LogicalName}}>vis endringer</a>
    {{ end }}
  </span>

  {{ .Content }}

  <span class="post-meta">
    {{ if eq .Type "post" }}
      kategorisert som: {{ range .Params.kategorier }}{{ . }} {{ end }}
      <br>tagget: {{ range .Params.tags }} <a href= "{{ $.Site.BaseURL }}/tags/{{ . | urlize }}">#{{ . }}</a>{{ end }}
    {{ end }}
  </span>
  
  <!-- {{- if .Site.DisqusShortname -}}
  <hr>
  <h2>Kommentarer</h2>
  {{ template "_internal/disqus.html" . }}
  {{ end -}}
  -->

  <hr>
  <h2>Kommentarer</h2>
  {{ partial "staticman.html" . }}
</div>

{{ partial "default_foot.html" . }}
