{{ partial "default_head.html" . }}

<div class="post">
  <h1 class="post-title">{{ .Title }}</h1>
  <span class="post-date">
    {{ if eq .Type "post" }}
      {{ .Site.Params.DateForm | default "Jan 2, 2006" | .Date.Format }} / {{.WordCount}} ord
    {{ end }}
  </span>

  {{ .Content }}
  <span class="post-meta">Sist endret <a href={{.Site.Params.Github.PostUrl}}{{.File.LogicalName}}>{{ .Lastmod.Format "02.01.2006 15:04 MST" }}</a>.</span>
  {{- if .Site.DisqusShortname -}}
  <hr>
  <h2>Kommentarer</h2>
  {{ template "_internal/disqus.html" . }}
  {{ end -}}
</div>

{{ partial "default_foot.html" . }}
