{{ partial "default_head.html" . }}

<!-- Space delimited list of page types -->
{{ $paginator := .Paginate (where .Site.RegularPages "Type" "in" .Site.Params.mainSections) }}

<div class="posts">
  {{ range .Paginator.Pages }}
    <div class="post">
        <h1 class="post-title"><a href="{{ .Permalink }}">{{ .Title }}</a></h1>
	<span class="post-date">{{ .Site.Params.DateForm | default "Jan 2, 2006" | .Date.Format }} / {{.WordCount}} ord</span>
        {{ .Summary }}
        {{ if .Truncated }}
        <!-- This <div> includes a read more link, but only if the summary is truncated... -->
          <div class="post-read-more">
            <a href="{{ .RelPermalink }}">Les mer…</a>
          </div>
        {{ end }}
    </div>
  {{ end }}
</div>

<div class="pagination">
  {{ if $paginator.HasNext }}
  <a class="pagination-item older" href="{{ $paginator.Next.URL }}">Eldre</a>
  {{ else }}
  <span class="pagination-item older">Eldre</span>
  {{ end }}

  {{ if $paginator.HasPrev }}
  <a class="pagination-item newer" href="{{ $paginator.Prev.URL }}">Nyere</a>
  {{ else }}
  <span class="pagination-item newer">Nyere</span>
  {{ end }}
</div>

{{ partial "default_foot.html" . }}
